{% extends "base.html" %}

{% block content %}
<h1 class="title">
  TESTE
</h1>
<p>Click <a href="/blog/">here</a> to see my posts.</p>
<section class="hero is-medium has-carousel">
  <div id="carousel-demo" class="hero-carousel">
    <div class="item-1">
      <!-- Slide Content -->
      <p>PRIMEIRO</p>
    </div>
    <div class="item-2">
      <!-- Slide Content -->
      <p>SEGUNDO</p>
    </div>
    <div class="item-3">
      <!-- Slide Content -->
      <p>TERCEIRO</p>
    </div>
  </div>
  <div class="hero-head"></div>
  <div class="hero-body"></div>
  <div class="hero-foot"></div>
</section>

<script>
  bulmaCarousel.attach('#carousel-demo', {
      initialSlide: 0,
			slidesToScroll: 1,
			slidesToShow: 1,
      pagination: true,
      navigationSwipe: true,
      autoplay: true, 
      loop: true,
      duration: 800,
      autoplaySpeed: 4000
		});
</script>
{% endblock content %}