<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="{{ get_url(path='images/logo.png', trailing_slash=false) }}" width="74" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasic" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
  
        <a class="navbar-item" href="/blog/">
          Posts
        </a>
        
        <a class="navbar-item" href="/projects/">
          Projects
        </a>

        <a class="navbar-item" href="/About/">
          About
        </a>

        <a class="navbar-item" href="/Contact/">
          Contact
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons has-addons">
            <button class="button is-text" onclick="portugues()">
              <strong>Pt-Br</strong>
            </button>
            <button class="button is-text" onclick="ingles()">
              <strong>En-US</strong>
            </button>
            <button class="button is-text" onclick="frances()">
              <strong>Fr-FR</strong>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>